@import '../mixins';
@import '../variables';

.navbar {
  width: 100vw;
  height: 4rem;
  color: $primary;
  position: fixed;
  background-color: $dark;
  top: 0;
  left: 0;
  border-bottom: $primary solid 2px;
  z-index: 100;
  .navContainer {
    padding-inline: 0.75rem;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin-inline: auto;
    @include flex(space-between, center);
    position: relative;
    .search {
      width: max-content;
      position: relative;
      input {
        width: 20rem;
        height: 2rem;
        margin-inline: auto;
        border-radius: 50vw;
        background-color: rgb(255, 255, 255);
        border: none;
        padding-left: 2rem;
      }
      .searchIcon {
        position: absolute;
        left: 0.5em;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .searchMobile {
      display: none;
    }
    h1 {
      font-size: clamp(1.5rem, 3vw, 1.75rem);
    }
    ul {
      @include flex(center, center);
      gap: 1.25rem;
      list-style: none;
      height: 100%;
      background-color: $dark;
      li {
        cursor: pointer;
        transition: $speed;
        font-weight: $semibold;
        font-size: 1.25rem;
        width: 2rem;
        height: 2rem;
        border-radius: 100vw;
        @include flex(center, center);
        transition: $speed;
        &:hover {
          background-color: rgba($color: $primary, $alpha: 0.25);
        }
      }
      .profile {
        width: 2rem;
        height: 2rem;
        background-color: aqua;
        border-radius: 100vw;
      }
    }
  }
}

@media (max-width: $tablet) {
  .navbar {
    border-bottom: none;
    .navContainer {
      .search {
        position: relative;
        input {
          width: 15rem;
        }
      }
      ul {
        position: absolute;
        top: 100%;
        width: 100%;
        @include flex(space-around, center);
        gap: 0;
        border-bottom: $primary solid 2px;
        margin-left: -0.75rem;
      }
    }
  }
}

@media (max-width: $wide) {
  .navbar {
    .navContainer {
      .search {
        display: none;
      }
      .searchMobile {
        display: block;
      }
    }
  }
}
