@import '../mixins';
@import '../variables';

.RightSideBar {
  position: relative;
  width: 100%;
  grid-column: 9 / 13;
  padding-right: 2rem;
}

@media (max-width: $tablet) {
  .RightSideBar {
    display: none;
  }
}
