@import '../variables';
@import '../mixins';

.leftSidebar {
  grid-column: 1 / 4;
  width: 100%;
  margin-top: 2rem;
  padding-left: 1rem;
  .suggestion {
    position: sticky;
  }
}

@media (max-width: $laptop) {
  .leftSidebar {
    display: none;
  }
}
