$dark: #212529;
$darkdark: #2c3135;
$lightDark: #31363b;
$grayDark: #545a5f;
$white: #f8f9fa;
$primary: #64dfdf;
$secondary: #a9e0e0;
$gray: #d3d3d3;
$red: rgb(255, 70, 37);

$shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.2);

$semibold: 600;
$bold: bold;

$speed: 300ms ease-out all;

$mobile: 320px;
$wide: 480px;
$wider: 650px;
$tablet: 770px;
$laptop: 1030px;

$radius: 1rem;
